.article
	h1
		overflow hidden
		white-space nowrap
		text-overflow ellipsis
	img
		display block
	
@media (min-width 415px)
	.article
		margin 0 auto
		padding 20px
		width 80%
		h1
			padding 0 80px
			text-align center
			font-size 36px
			line-height 2
		.time 
			text-align center
		.author
			padding-right 14px
			text-align right
			&:before
				content "作者"
		img
			margin 10px auto
			width 320px
			height 320px
		.content
			text-indent 28px
			font-size 14px
			line-height 20px

@media (max-width 414px)
	.article
		position relative
		margin 5px
		padding 5px
		width 365px
		height 110px
		h1
			margin-left 105px
			font-size 20px
			line-height 24px
		.time
			position absolute
			right 40px
			bottom 5px
			font-size 12px
			.year
				display none
		.author
			position absolute
			right 5px
			bottom 5px
			font-size 12px
		img
			position absolute
			top 5px
			left 5px
			width 100px
			height @width
		.content
			display -webkit-box
			overflow hidden
			-webkit-line-clamp 3
			-webkit-box-orient vertical
			margin-top 5px
			margin-left 105px
			font-size 12px
			line-height 16px
			text-overflow ellipsis